* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 18px;
}
body {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}
.graph-wrap {
  width: 50%;
  overflow: hidden;
}

input {
  margin: 10px 20px;
  padding: 20px;
}

.formbtn {
  margin: 20px;
  padding: 8px;
}
